body{
    
    background-color: aquamarine;
    /*background-image: url();
    background-repeat: no-repeat;*/
    color:chocolate;
    font-family: "Bungee Spice", sans-serif;
    text-align:justify;
    
  
}

#Q{
    
    width: 20%;
    text-align: right;
    display: inline;

    
}



h4{text-decoration: underline;
    background-color: darkgrey;
  font-size: x-large;
  font-family: "Alfa Slab One", serif;
  font-weight:400;
  font-style: normal;
  text-align:center;
  
}

#Dades{
    background-color: rgb(252, 214, 4);
  width: 79%;
    display: inline-block;


     
}

.academia{
    background-color: cornflowerblue;
    display: inline-block;
     width: 32%;
    
    
}

#burguer{
    background-color: cornflowerblue;
    display: inline-block;
     width: 32%;
     
}

.milanesa{
    background-color: cornflowerblue;
    display: inline-block;
     width: 32%;
    
    
}

nav{
    display: inline-block;
}


.letra{
    font-size: 150px;
}